.box-singUp{
    background-color: #fdfdfd;
    border-radius: 30px;
    width: 10cm;
    height: 14cm;
    margin-top: 1cm;
    box-shadow: 5px 15px 20px 5px #e2e8d9;
    margin-bottom: 1cm;
    margin-left: 0.5cm;
}

.btnCancel{
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    background-color: #97aa5c !important;
    color: #edf8d2 !important;
}

.btnCadastrar{
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    background-color: #2F3912 !important;
    color: #edf8d2 !important;
}

.textos2 {
    padding: 8px;
    font-size: 3rem !important;
    border-radius: 10px;
    box-shadow: 10px #ffffff;
    margin-bottom: 0.8cm !important;
    color: #4f5c28;

}

.imagemSignUp{
    background-size: center;
    background-position: cover;
    width: 75vh;
    min-height: 75vh;
    border-radius: 10px;
    justify-content: center;
    margin-left: 80px;
}