.box-container-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container-left h1{
    text-align: center;
    padding-top: 2rem;
}

.box-container-right {
    padding: 3rem;
    width: 60%;
    height: 28rem;
    margin-left: 3rem;
    border-radius: 20px;
    box-shadow: 5px 15px 20px 5px #bbcfa4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn-caixa{
    position: relative;
    left: 2rem;
    top: 2rem
}

.text-decorator-none{
    color: #2F3912;
}

.btn-logar {
    width: 20rem;
    height: 3.2rem;
    padding-left: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #F6F8E8;
    background-color: #65743C;
}

.btn-logar:hover {
    cursor: pointer;
    background-color: #2F3912;
}

.btn-logar p{
    font-weight: bold;
}

.btn-arrow-logar {
    width: 50px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #2F3912;
}

.btn-arrow-logar:houver {
    cursor: pointer;
    background-color: #65743C;
}
