.topo2{
    margin-top: 2cm;
    margin-bottom: 4.3cm;
}

.tituloCadCat{
    color: #768547;
}

.btnFinalizarCat{
    background-color: #8c9a61 !important;
    color: white !important;
    font-weight: bold !important;
    
}