.topo{
    margin-top: 1cm;
    margin-bottom: 1cm;
    }

.btnFinalizarProd{
    background-color: #8c9a61 !important;
    color: white !important;
    font-weight: bold !important;
}

.tituloCadProd{
    color:#768547;
}

