@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');


:root {
    --quicksand: 'Quicksand', sans-serif;
}

.box-container {
    margin: 2rem;
    height: 90vh;
    border-radius: 10px;
    border: none !important;
    flex-direction: row !important;
    background-color: #D5E4AD;
    align-items: center;
    padding: 0 2rem;
}

.title-h4 {
    padding-bottom: 20px;
    font-family: var(--quicksand) !important;
    font-weight: 700 !important;
}

.btn-catalog {
    width: 20rem;
    height: 3.2rem;
    padding-left: 2rem;
    border-radius: 10px;
    margin: 5rem 1rem 0 0;
    display: flex;
    font-family: var(--quicksand);
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #F6F8E8;
    background-color: #65743C;
    transition: all 200ms ease-in-out;
}

.subHome {
    font-family: var(--quicksand);
    font-weight: 500;
    font-size: 1.2rem;
}

.btn-catalog:hover {
    cursor: pointer;
    background-color: #2F3912;
}

.btn-arrow {
    width: 50px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #2F3912;
}

.img-config {
    max-width: 100%;
    height: 100%;
}

.grid-item {
    padding: 0 3rem ;
}