.box-container {
    margin: 2rem;
    height: 500px;
    border-radius: 10px;
    border: none !important;
    flex-direction: row !important;
    background-color: #D5E4AD;
}

.title-h4 {
    padding-bottom: 20px;
}

.grid-item-2 {
    display: flex;
    justify-content: center;
}

.btn-catalog {
    width: 20rem;
    height: 3.1rem;
    padding-left: 2rem;
    border-radius: 10px;
    margin: 10rem 1rem 0;
    display: flex;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: #F6F8E8;
    background-color: #65743C;
}

.btn-catalog:hover {
    cursor: pointer;
    background-color: #2F3912;
}

.btn-arrow {
    width: 50px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #2F3912;
}

.btn-arrow:houve {
    background-color: #65743C;
}

.texts {
    color: #2F3912;
    text-align: center;
}

.img-venda {
    display: flex;
    flex-wrap: wrap;
}

.img-config {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.grid-item {
    padding: 0 5rem ;
}