.container {
    background-color: #D5E4AD;
    height: 70vh;
    margin: 2.5vh;
    margin-left: 2.5vh;
    border-radius: 10px;
}

.texts {
    color: #2F3912;
}

.box-img{
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    width: 70%;
    height: 50%;
}

.item-img {
    align-items: center;
}