.box1{
  background-color: #D5E4AD;
  display: flex;
}

.logoFooter {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: row;
}

.textoFooter{
  color: #65743C;
  font-size: 15px !important;
  padding-left: 20px;
}

.redes{
  font-size: 30px !important;
  color: #65743C;
  padding: 1px;
}

.box2{
  background-color: #D5E4AD;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}