.box-container-sobre {
  margin: 2rem;
  height: 90vh;
  border-radius: 10px;
  background-color: #D5E4AD;
  align-items: center;
  display: flex;
}

.box-about {
  padding: 3rem;
}

.title-sobre {
  padding-bottom: 20px;
}

.subtitle {
 padding: 0.3rem;
}

.img-venda {
  width: 30rem;
  border-radius: 10px;
}

@media only screen and (min-width: 360px) and (max-width: 800px){
   
  .box-about {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .img-venda{
    display: none;
  }

}